/* HomePage.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}




table, th, td {
    border: 1px solid;
    margin-top: 20px;
}
.btnHomepage{
    width: auto;
    height: auto;
    text-align: left;
    margin-top: 20px;
    margin-right: -200px;
    border-radius: 20px 20px;

}
