/* HomePage.css */
.search-button{
    width: 400px;
    height: 50px;
    padding: 5px;
}
.home-page {

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2c0f0f;
}

.circle-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.circle {
    width: 80px; /* Розмір круга */
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8); /* Колір фону круга з прозорістю */
    margin: 0 10px; /* Відстань між кругами */
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-input {
    width: 80%; /* Розмір вводу для пошуку */
    padding: 10px;
    margin-bottom: 10px;
}

.search-button {
    background-color: #45987e;
    color: white;
    padding: 10px;
    cursor: pointer;
}

/* Додайте медіа-запити для адаптації стилів до розміру екрану, наприклад, для телефонів */
@media only screen and (max-width: 600px) {
    .circle {
        width: 60px; /* Зменшено розмір круга на малих екранах */
        height: 60px;
    }

    .search-input {
        width: 100%; /* Розтягуємо ввод на всю ширину на малих екранах */
    }
}
img{
    width: 70px;
    height: 70px;
    border: 2px  solid #5a957e;
    border-radius: 35px 35px;

}

/* Додайте інші стилі за необхідністю */
input{
    width: 350px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 350px;
    height: 50px;

}
