body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

.plants-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plants-list-container,
.create-plant-container {
    margin-top: 20px;
    border: solid 2px #9ec259;
    font-size: 24px;
    width: 100%;
}

.plants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid 2px #9ec259;
    font-size: 24px;
}

.plant-item {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    border: solid 2px #9ec259;
    font-size: 24px;
}
.btnDelete{
    width: auto;
    height: 50px;
    background-color: #0f9d80;
}
button {
    background-color: rgba(85, 11, 108, 0.13);
    width: 100px; /* Allow the button to take full width */
    border-radius: 25px 25px;
    height: 40px;
    padding: 5px;
    margin-top: 10px;
    font-size: 24px;
    box-sizing: border-box; /* Include padding in the total width */
}

h2 {
    color: deepskyblue;
    text-align: start;
    border-bottom: 2px solid #1e1867;
    font-size: xx-large;
}


/* Media Query for smaller screens */
@media (min-width: 768px) {
    .plants-list-container,
    .create-plant-container,
    .plant-item,
    button {
        width: 48%;
    }
}
input{
    width: auto;
    height: 40px;
    margin-top: 20px;
}
li{
    color: #1e1867;
    text-align: left;
    margin-right: 200px;
}